<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Articulations</key>
	<array>
		<dict>
			<key>ArticulationID</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>1001</integer>
			<key>Name</key>
			<string> </string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>2</integer>
			<key>ID</key>
			<integer>1002</integer>
			<key>Name</key>
			<string>Legato</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>1003</integer>
			<key>Name</key>
			<string>Legato (Start)</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>4</integer>
			<key>ID</key>
			<integer>1004</integer>
			<key>Name</key>
			<string>Marcato Legato</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>5</integer>
			<key>ID</key>
			<integer>1005</integer>
			<key>Name</key>
			<string>Marcato Legato (Start)</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>12</integer>
			<key>ID</key>
			<integer>1006</integer>
			<key>Name</key>
			<string>Sforzando</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>13</integer>
			<key>ID</key>
			<integer>1007</integer>
			<key>Name</key>
			<string>Staccato</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>14</integer>
			<key>ID</key>
			<integer>1008</integer>
			<key>Name</key>
			<string>Staccatissimo</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>15</integer>
			<key>ID</key>
			<integer>1009</integer>
			<key>Name</key>
			<string>Spiccato</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>16</integer>
			<key>ID</key>
			<integer>1010</integer>
			<key>Name</key>
			<string>Pizzicato</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>17</integer>
			<key>ID</key>
			<integer>1011</integer>
			<key>Name</key>
			<string>Bartok Pizzicato</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>18</integer>
			<key>ID</key>
			<integer>1012</integer>
			<key>Name</key>
			<string>Col Legno Battuto</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>19</integer>
			<key>ID</key>
			<integer>1013</integer>
			<key>Name</key>
			<string>Harmonics</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>20</integer>
			<key>ID</key>
			<integer>1014</integer>
			<key>Name</key>
			<string>Tremolo</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>21</integer>
			<key>ID</key>
			<integer>1015</integer>
			<key>Name</key>
			<string>Measured Tremolo</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>26</integer>
			<key>ID</key>
			<integer>1017</integer>
			<key>Name</key>
			<string>Marcato Legato With Overlay</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>27</integer>
			<key>ID</key>
			<integer>1018</integer>
			<key>Name</key>
			<string>Marcato Legato With Overlay (Start)</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>22</integer>
			<key>ID</key>
			<integer>1019</integer>
			<key>Name</key>
			<string>Trills Half Step</string>
			<key>Output</key>
			<array/>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>23</integer>
			<key>ID</key>
			<integer>1020</integer>
			<key>Name</key>
			<string>Trills Whole Step</string>
			<key>Output</key>
			<array/>
		</dict>
	</array>
	<key>Name</key>
	<string>Cinematic Studio Strings Scripter.plist</string>
	<key>Switches</key>
	<array/>
</dict>
</plist>
